*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

img {
    max-width: 100%;
}

/* common */
 .container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 1px solid black;
 }

/* header */

.row {
    display: flex; 
    gap: 1rem;
    margin-bottom: 1rem;      
}

.card {
    width: calc(100%/3);
    border: 1px solid black;
    min-height: 300px;    
}

.heart {
    font-size: 2rem;
    background-color: red;
    padding: 0.5rem;    
    height: 3rem;    
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;  
}

.discount {
    font-size: 1rem;
    background-color: red;
    color: white;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid black;
}

.sostenibility{
    font-size: 1rem;
    background-color: green;
    color: white;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid black;
}

.brand {
    font-size: 0.9rem;
}

.price {
    font-size: 0.9rem; 
    color: red;
}

.original-price {
    color: black;
    text-decoration: line-through;
}



/* main */


/* footer */