*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

img {
    max-width: 100%;    
}

/* common */
 .container {
    width: 80%;
    margin: 0 auto;
    
 }

/* header */



/* main */
.row {
    display: flex; 
    gap: 1rem;
    padding-bottom: 1rem;      
}

.card {
    width: calc(100%/3);    
    min-height: 300px;
    position: relative; 
              
}

.heart {
    font-size: 2rem;
    background-color: white;
    padding: 0.5rem;    
    height: 3rem;    
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    position:absolute;
    top: 1rem;
    right: 0rem;    
}

.heart:hover {
    color: red;
}

.discount {
    font-size: 1rem;
    background-color: red;
    color: white;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    bottom: 8rem;

}

.sostenibility{
    font-size: 1rem;
    background-color: green;
    color: white;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    bottom: 8rem;
    left: 5rem;

}

.brand {
    font-size: 0.9rem;
}

.price {
    font-size: 0.9rem; 
    color: red;
}

.original-price {
    color: black;
    text-decoration: line-through;
}

.sostenibility-left {
    font-size: 1rem;
    background-color: green;
    color: white;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    bottom: 8rem;
}

/* immagini */


/* se usi approccio con z-index, ggiungi z-index più alto a tutti gli elementi da visualizzare sempre */

/* .top-img {
    display: block;
    position: relative;
}

.bottom-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.figure:hover .bottom-img {
    z-index: 1;
} */

.top-img {
    display: block;
}

.figure .bottom-img {
    display: none;
}

.figure:hover .bottom-img {
    display: block;
}

.figure:hover .top-img {
    display: none;
}






/* footer */